<div ng-repeat="venue in vm.model.apiResponse.response.groups[0].items" style="background-color: aquamarine; padding: 10px;margin: 10px; display: inline-table;">

    <h3>название: {{venue.venue.name}}</h3> <h5>адрес :{{venue.venue.location.address}}</h5>
    {{venue.id}}
    <div ng-repeat="photos in vm.model.apiResponse.response.groups[0].items | limitTo:3" style="display: inline;">
<img ng-src="{{photos.venue.categories[0].icon.prefix}}50x50{{photos.venue.categories[0].icon.suffix}}" title="picture here">
        {{photos.venue.categories[0].name}}
    </div>

</div>

<div>I AM dashboard</div>

<pre>
    {{vm.model.apiResponse.response.groups[0].items.venue | json}}


</pre>